In [15]:
%%capture
pip install -r requirements.txt

In [1]:
# Independent code block to read data and display in interactive tabs using Plotly and ipywidgets

# Install required packages if not already installed
# You may need to uncomment and run these commands in a separate cell or terminal
# !pip install plotly
# !pip install ipywidgets
# !jupyter nbextension enable --py widgetsnbextension

import pandas as pd
import plotly.graph_objects as go
from ipywidgets import widgets
from IPython.display import display
import glob

# Ensure that Plotly displays correctly in Jupyter Notebook
import plotly.io as pio
pio.renderers.default = 'notebook'  # or 'notebook_connected' if 'notebook' does not work

# Read two daily ledgers
daily_ledger_files = sorted(glob.glob('daily_ledger_*.csv'))
if len(daily_ledger_files) >= 2:
    daily_ledger_1 = pd.read_csv(daily_ledger_files[-1])
    daily_ledger_2 = pd.read_csv(daily_ledger_files[-2])
else:
    print("Not enough daily ledger files found.")
    daily_ledger_1 = pd.DataFrame()
    daily_ledger_2 = pd.DataFrame()

# Read large exposures
large_exposures = pd.read_csv('large_exposures.csv')

# Read monthly balance sheet
monthly_balance = pd.read_csv('monthly_balance_sheet.csv')

# Read monthly income statement
monthly_income = pd.read_csv('monthly_income_statement.csv')

# Read suspicious transactions
suspicious_transactions = pd.read_csv('suspicious_transactions.csv')

# Function to create a Plotly table figure
def create_plotly_table(df, title):
    if df.empty:
        return go.Figure()
    fig = go.Figure(data=[go.Table(
        header=dict(values=list(df.columns),
                    fill_color='paleturquoise',
                    align='left'),
        cells=dict(values=[df[col].tolist() for col in df.columns],
                   fill_color='lavender',
                   align='left'))
    ])
    fig.update_layout(title=title)
    return fig

# Create figures
fig_daily_ledger_1 = create_plotly_table(daily_ledger_1, 'Daily Ledger 1')
fig_daily_ledger_2 = create_plotly_table(daily_ledger_2, 'Daily Ledger 2')
fig_large_exposures = create_plotly_table(large_exposures, 'Large Exposures')
fig_monthly_balance = create_plotly_table(monthly_balance, 'Monthly Balance Sheet')
fig_monthly_income = create_plotly_table(monthly_income, 'Monthly Income Statement')
fig_suspicious_transactions = create_plotly_table(suspicious_transactions, 'Suspicious Transactions')

# Create tabs
tab_contents = ['Daily Ledger 1', 'Daily Ledger 2', 'Large Exposures', 'Monthly Balance Sheet', 'Monthly Income Statement', 'Suspicious Transactions']
children = []

for fig in [fig_daily_ledger_1, fig_daily_ledger_2, fig_large_exposures, fig_monthly_balance, fig_monthly_income, fig_suspicious_transactions]:
    # Each child is a FigureWidget
    fig_widget = go.FigureWidget(fig)
    children.append(widgets.VBox([fig_widget]))

# Create Tab widget
tab = widgets.Tab()
tab.children = children
for i in range(len(tab_contents)):
    tab.set_title(i, tab_contents[i])

display(tab)

C:\Users\wjbea\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\jupyter_client\session.py:721: UserWarning:

Message serialization failed with:
Out of range float values are not JSON compliant: nan
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant

Tab(children=(VBox(children=(FigureWidget({
    'data': [{'cells': {'align': 'left',
                        'â€¦

In [2]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('bank_simulation.db')

# List all tables in the database
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(tables_query, conn)
print("Tables in the database:")
print(tables)

# Read data from a specific table (e.g., 'clients')
clients_df = pd.read_sql_query("SELECT * FROM clients", conn)
print("Clients Table:")
print(clients_df)

# You can also read data from other tables like 'transactions' or 'ledger_entries'
transactions_df = pd.read_sql_query("SELECT * FROM transactions", conn)
ledger_entries_df = pd.read_sql_query("SELECT * FROM ledger_entries", conn)

# Close the connection
conn.close()

# Display the data (Optional: If in Jupyter, it'll show the data nicely)
clients_df.head()  # Display first few rows of the clients table

Tables in the database:
              name
0          clients
1   ledger_entries
2  sqlite_sequence
3     transactions
Clients Table:
   client_id           name account_type currency   balance
0          1    Alice Rossi      savings      EUR  -1997.69
1          2      Bob Verdi     checking      USD  -2218.89
2          3  Carla Bianchi    corporate      EUR  18350.74
3          4     David Nero      savings      GBP   2671.79
4          5        Eva Blu     checking      EUR   5442.28

   client_id           name account_type currency   balance
0          1    Alice Rossi      savings      EUR  -1997.69
1          2      Bob Verdi     checking      USD  -2218.89
2          3  Carla Bianchi    corporate      EUR  18350.74
3          4     David Nero      savings      GBP   2671.79
4          5        Eva Blu     checking      EUR   5442.28